body {
  font-family: 'Indie Flower', cursive;
  color: #000000;
  font-weight: 300;
}

.text-muted {
  color: #000000;
}

.text-thin {
  font-weight: 100;
}

.title-super {
  font-size: 60px;
}

.title-logo {
  margin-top: 20px;
}

.indent {
  text-indent: 16em;
}

p {
  line-height: 220%;
  font-weight: bold;
  font-size: 14px;
}
